<p id="notice"><%= notice %></p>

<div>
	<div class="col-lg-2">
	</div>
	<div class="col-lg-8">
		<div class="bs-example">
			<h1>Cadastro de Doadores</h1>
		</div>
		<div class="well">
			<p>
			  <strong>Nome:</strong>
			  <%= @cadastro.nome %>
			</p>
			<p>
			  <strong>Data nascimento:</strong>
			  <%= @cadastro.data_nascimento %>
			</p>
			<p>
			  <strong>Estado:</strong>
			  <%= @cadastro.estado %>
			</p>

			<p>
			  <strong>Cidade:</strong>
			  <%= @cadastro.cidade %>
			</p>
			<p>
			  <strong>Genero:</strong>
			  <%= @cadastro.genero %>
			</p>

			<p>
			  <strong>Tipo sanguineo:</strong>
			  <%= @cadastro.tipo_sanguineo %>
			</p>

			<p>
			  <strong>Email principal:</strong>
			  <%= @cadastro.email_principal %>
			</p>

			<p>
			  <strong>Email alternativo:</strong>
			  <%= @cadastro.email_alternativo %>
			</p>

			<p>
			  <strong>Status:</strong>
			  <%= @cadastro.status == 'A' ? "Ativo" : "Inativo" %>
			</p>

		</div>
	</div>
	<div class="col-lg-2">
	</div>
</div>
