<%= form_for(pessoa) do |f| %>
  <% if pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PES_NOME %>
    <%= f.text_field :PES_NOME %>
  </div>

  <div class="field">
    <%= f.label :PES_DATA_CADASTRO %>
    <%= f.datetime_select :PES_DATA_CADASTRO %>
  </div>

  <div class="field">
    <%= f.label :PES_DATA_NASCIMENTO %>
    <%= f.datetime_select :PES_DATA_NASCIMENTO %>
  </div>

  <div class="field">
    <%= f.label :PES_ESTADO %>
    <%= f.number_field :PES_ESTADO %>
  </div>

  <div class="field">
    <%= f.label :PES_CIDADE %>
    <%= f.number_field :PES_CIDADE %>
  </div>

  <div class="field">
    <%= f.label :PES_CPF %>
    <%= f.text_field :PES_CPF %>
  </div>

  <div class="field">
    <%= f.label :PES_GENERO %>
    <%= f.text_field :PES_GENERO %>
  </div>

  <div class="field">
    <%= f.label :PES_TIPO_SANGUINEO %>
    <%= f.text_field :PES_TIPO_SANGUINEO %>
  </div>

  <div class="field">
    <%= f.label :PES_EMAIL_PRINCIPAL %>
    <%= f.text_field :PES_EMAIL_PRINCIPAL %>
  </div>

  <div class="field">
    <%= f.label :PES_EMAIL_ALTERNATIVO %>
    <%= f.text_field :PES_EMAIL_ALTERNATIVO %>
  </div>

  <div class="field">
    <%= f.label :PES_PESO %>
    <%= f.text_field :PES_PESO %>
  </div>

  <div class="field">
    <%= f.label :PES_ALTURA %>
    <%= f.text_field :PES_ALTURA %>
  </div>

  <div class="field">
    <%= f.label :PES_IP %>
    <%= f.text_field :PES_IP %>
  </div>

  <div class="field">
    <%= f.label :PES_STATUS %>
    <%= f.text_field :PES_STATUS %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
