<p id="notice"><%= notice %></p>

<p>
  <strong>Pes nome:</strong>
  <%= @pessoa.PES_NOME %>
</p>

<p>
  <strong>Pes data cadastro:</strong>
  <%= @pessoa.PES_DATA_CADASTRO %>
</p>

<p>
  <strong>Pes data nascimento:</strong>
  <%= @pessoa.PES_DATA_NASCIMENTO %>
</p>

<p>
  <strong>Pes estado:</strong>
  <%= @pessoa.PES_ESTADO %>
</p>

<p>
  <strong>Pes cidade:</strong>
  <%= @pessoa.PES_CIDADE %>
</p>

<p>
  <strong>Pes cpf:</strong>
  <%= @pessoa.PES_CPF %>
</p>

<p>
  <strong>Pes genero:</strong>
  <%= @pessoa.PES_GENERO %>
</p>

<p>
  <strong>Pes tipo sanguineo:</strong>
  <%= @pessoa.PES_TIPO_SANGUINEO %>
</p>

<p>
  <strong>Pes email principal:</strong>
  <%= @pessoa.PES_EMAIL_PRINCIPAL %>
</p>

<p>
  <strong>Pes email alternativo:</strong>
  <%= @pessoa.PES_EMAIL_ALTERNATIVO %>
</p>

<p>
  <strong>Pes peso:</strong>
  <%= @pessoa.PES_PESO %>
</p>

<p>
  <strong>Pes altura:</strong>
  <%= @pessoa.PES_ALTURA %>
</p>

<p>
  <strong>Pes ip:</strong>
  <%= @pessoa.PES_IP %>
</p>

<p>
  <strong>Pes status:</strong>
  <%= @pessoa.PES_STATUS %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
