<p id="notice"><%= notice %></p>

<p>
  <strong>Cid nome:</strong>
  <%= @cidade.CID_NOME %>
</p>

<p>
  <strong>Cid estado:</strong>
  <%= @cidade.CID_ESTADO %>
</p>

<%= link_to 'Edit', edit_cidade_path(@cidade) %> |
<%= link_to 'Back', cidades_path %>
